/*
    Define them colors, boi
*/

$gradient-green: #71b280;
$gradient-blue: #134e5e;
$shadow: #aaa;

/*
    Font imports
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Subrayada');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
}

.header {
    position: fixed;
    color: #fff;
    text-align:center;
    width: 100%;
    height: 100px;

    background: $gradient-blue;
    background: -webkit-linear-gradient(to right, $gradient-blue, $gradient-green);
    background: linear-gradient(to right, $gradient-blue, $gradient-green);

    box-shadow: 1px 5px 5px $shadow;

    .titles {
        padding: 1.5em 0 0em 0;
    }

    .title {
        font-size: 1.5em;
        font-family: 'Montserrat Subrayada';
    }

    .subtitle {
        font-size: 1.25em;
        font-family: 'Montserrat';
    }

    z-index: 100;
}

.content {
    margin-top: 100px;
    width: 100%;
    height: calc(100% - 100px);
    overflow:hidden;
    position: fixed;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;

    background-color:#fff;
    list-style-type:none;


    box-shadow: 2px 5px 5px $shadow;

    li {
        margin-left: 2em;
    }

    i {
        color: #fff;

        background-color: $gradient-blue;

        padding: .25em;
        border-radius:50%;
        margin: 1em 0 1em 0;

        cursor: pointer;
    }

    i[class^="devicon"] {
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -moz-font-feature-settings: 'liga';
        -moz-osx-font-smoothing: grayscale;
    }

    span {
        font-family: 'Montserrat';
        font-style: italic;
    }
}

.content-body {
    height: 100%;
    margin-left: 225px;
    overflow-x:hidden;
    overflow-y:auto;
}

.content-section {
    font-family: 'Montserrat';
    margin-top: 1em;
    color: #555;

    .title {
        font-style: italic;
        font-size: 26px;
        width: 85%;

        border-bottom: 2px solid $gradient-green;
    }

    .details {
        font-size: 20px;
        margin-top: 10px;
        padding: 0 .5em 0 1em;
    }
}

.content-section:last-of-type {
    .details {
        padding-bottom: 1.5em;
    }
}

.project {
    margin: 1.5em 0 1.5em 0;
    width: 80%;

    .title {
        color: $gradient-green;
        border:none;
        padding: 0 .5em 0 .5em;
    }

    .subtitle {
        color: $gradient-green;
    }

    img {
        margin: .5em 0 0 50%;
        max-width: 500px;
        height: auto;
        transform: translateX(-50%);
    }
}

.skills {
    padding: .5em 0 0 1.5em;

    tr {
        td:first-of-type {
            padding-left: 0 !important;
        }

        td {

            i {
                font-size: 3em;
            }

            font-size: 1.25em;
            padding: 0.5em 0 0.5em 1em;
        }
    }
}

// media queries
@media screen and (max-width: 480px) {
    .skills {
        padding: 0 .5em 0 .5em !important;

        margin-left:50%;
        transform: translateX(-50%);
    }
}

@media screen and (min-width: 480px) and (max-width: 960px) {
    .skills {
    }
}

@media screen and (max-width: 480px){
    .header {
        height: 75px;
    }

    .content {
        margin-top: 75px;
        height: calc(100% - 75px);
    }

    .sidebar {
        display: none !important;
    }

    .content-body {
        margin-left: 0 !important;
        text-align: center;
    }

    .content-section {
        text-align: center;
        margin-top: .75em;

        .title {
            width: 90%;
            margin: 0 .25em 0 .5em;
        }
        
        .details {
            padding-left: 0;
        }
    }

    .project {
        text-align: center;
        width: 100%;

        .title {
            text-align: center;
        }

        .subtitle {
            text-align: center;
        }

        .details {
            margin-left: .5em;
            margin-right: .5em;
        }

        img {
            width: 50%;
        }
    }
}

@media screen and (max-width: 960px) {
    .header {
        height: 100px;

        .titles {
            padding-top: 1.5em;
        }

        .title, .subtitle {
            font-size: 1.25em;
        }
    }


    .content {
        margin-top: 100px;
        height: calc(100% - 100px);
    }

    .sidebar {
        width: 100px;

        span {
            display: none !important;
        }

        i {
            margin: .5em 0 .5em 0;
        }
    }

    .content {
        .content-section {
            margin: .75em .25em 0 .25em;
        }

        .content-body {
            margin-left: 125px;
        }
    }
}