/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
@forward 'vuetify/settings' with (
  $color-pack: false
);

// Color scheme
$white-warm: #fefae0;
$base-green: #606c38;
$green-dark: #283618;
$base-tan: #dda15e;
$base-orange: #bc6c25;